@media (max-width: 1300px) {
  .menu {
    margin-left: 0;
  }
  .cats__sort {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cats__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cats__item {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer__content {
    margin-left: 0;
  }
  .footer__form {
    margin-right: 0;
  }
}

@media (max-width: 1100px) {
  .form__input {
    width: 350px;
    max-width: 100%;
    margin-bottom: 20px;
    display: block;
  }
  .footer__content,
  .footer__form {
    width: 48%;
  }
  .footer__btn {
    width: 350px;
    max-width: 100%;
  }
}

@media (max-width: 950px) {
  html.block {
    overflow: hidden;
  }
  body.block {
    overflow: hidden;
  }
  .container {
    padding: 0 20px;
  }
  .menu {
    display: none;
  }
  .header__tel {
    display: none;
  }
  .burger__button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
    margin-top: 25px;
  }
  .header__title {
    text-align: center;
  }
  .cats__item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer__title {
    font-size: 40px;
  }
  .footer__text {
    font-size: 22px;
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .footer__title {
    font-size: 36px;
    margin-top: 40px;
  }
  .footer__text {
    font-size: 20px;
  }
  .footer__form {
    margin-top: 45px;
  }
}

@media (max-width: 600px) {
  .arrow-up {
    width: 40px;
    height: 40px;
    bottom: 15px;
    border-radius: 50%;
  }
}

@media (max-width: 550px) {
  .cats__sort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer__content {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .footer__form {
    width: 100%;
  }
  .form__input,
  .footer__btn {
    width: 100%;
  }
  .checkbox__text {
    margin-bottom: 40px;
  }
  .cats__sort-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto 20px;
  }
  .cats__btn-wrapper {
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .header__title {
    font-size: 32px;
  }
  .footer__form {
    margin-top: 25px;
  }
  .cats__item-overlay {
    background-color: transparent;
  }
  .popup {
    width: 350px;
    height: auto;
  }
  .popup__text {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .cats__item-title {
    margin-left: 10px;
  }
  .cats__item-info {
    margin-left: 10px;
  }
  .info__color {
    padding-left: 15px;
  }
  .info__age,
  .info__paws {
    margin-left: 30px;
  }
  .popup {
    width: 320px;
  }
}

@media (max-width: 350px) {
  .cats__item {
    margin-bottom: 0;
  }
  .cats__btn-more {
    margin-top: 0;
  }
  .popup {
    width: 300px;
  }
  .popup__text {
    font-size: 18px;
  }
}
